@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Quattrocento:wght@400;700&display=swap');

.main_body{
    text-align: center;
    background-color: #FFC14F;
}
.main{
    position: relative;
}
.main h2{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-family: Georgia;
    font-weight: normal;
}
.main p{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-family: Georgia;
}
.main img{
    height: 450px;
    opacity: 0.3;
}

.About h1{
    font-family: 'PT Serif', serif;
}
.About{
    margin-top: 20%;
    padding-bottom: 10%;
}
.About_aria{
    margin-top: 12%;
    margin-left: 50%;
    transform: translate(-45%);
}
.About_app img{
    height: 380px;
}
.About_app{
    display: flex;
    
}
.profile{
    margin-left: 6%;
    width: 300px;
}
.profile h1{
    margin: 0;
    font-size: 45px;
    text-align: left;
}

.profile p{
    margin: 20px;
    text-align: left;
}


.career{
    margin-top: 20%;
    padding-bottom: 10%;
    
}
.career h1{
    margin-bottom: 10%;
}

.creer_aria{
    margin-top: 2%;
    text-align: left;
    margin-left: 50%;
    transform: translate(-22%);
}
.creer_aria p{
    font-size: 20px;
    display: inline;
    margin-left: 5%;
}